/*
 color1: #012A4A - 206, 97, 15
 color2: #013A63 - 205, 98, 20
 color3: #01497C - 205, 98, 25
 color4: #014F86 - 205, 99, 26
 color5: #2A6F97 - 202, 56, 38
 color6: #2C7DA0 - 198, 57, 40
 color7: #468FAF - 198, 43, 48
 color8: #61A5C2 - 198, 44, 57
 color9: #89C2D9 - 197, 51, 69
 color10: #A9D6E5 - 195, 54, 78
*/

* {
    /* brand foundation */
    --brand-hue: 198;
    --brand-saturation: 57%;
    --brand-lightness: 40%;


    /* dark */
    --brand-dark: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
    --brand-hover-dark: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness) - 3%));

    --text-1-dark: hsl(195 54% 78%);
    --text-2-dark: hsl(197 51% 69%);
    --text-on-brand-dark: hsl(var(--brand-hue) 5% 95%);

    --border-color-dark:  hsl(var(--brand-hue) 10% 50% / 15%);

    --surface-1-dark: hsl(206 97% 15%);
    --surface-2-dark: hsl(205 98% 20%);
    --surface-3-dark: hsl(205 98% 25%);
    --surface-4-dark: hsl(205 99% 26%);
}

:root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --brand-hover: var(--brand-hover-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);
    --text-on-brand: var(--text-on-brand-dark);

    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);

    --border-radius: 1px;
    --border-color: var(--border-color-dark);
    
    --popper-theme-background-color: var(--surface-3);
    --popper-theme-background-color-hover: var(--surface-4);
    --popper-theme-text-color: var(--text-2);
    --popper-theme-border-width: 1px;
    --popper-theme-border-style: solid;
    --popper-theme-border-color: var(--border-color);
    --popper-theme-border-radius: var(--border-radius);
    --popper-theme-padding: 1rem;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.7);
}

html {
    background-color: var(--surface-1);
    color: var(--text-1);
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    font-size: 1.8rem;
}

html, body, #app {
    height: 100%;
}

.popper {
    max-width: 200px;
    text-align: left;
    font-size: 1.5rem;
    word-break: break-word;
}


::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--surface-2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--surface-3);
    border-radius: var(--border-radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--surface-4);
}

button {
    background-color: var(--brand);
    border: 1px solid var(--border-color);
    color: var(--text-on-brand);
    border-radius: var(--border-radius);
    padding: 0.3em;
    font-size: 1.8rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--brand-hover);
}